@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="padding-top: 50px; margin-bottom: 100px; background:#8D99AE; color:white; padding-bottom:50px;" class="text-center">
    <div class="container">
        <h1>Over ons Prebuilt PC Shop</h1>
        <div>
            <p>Bij onze voorgeassembleerde PC-winkel bieden wij een ruim assortiment aan hoogwaardige, voorgeassembleerde computers die klaar zijn om direct uit de doos te gebruiken. Wij hebben computers voor elke behoefte en elk budget, van basic kantoorapparatuur tot krachtige gaming-rigs.</p>

            <p>Ons team van experts selecteert en monteert zorgvuldig elke computer om ervoor te zorgen dat deze aan onze hoge standaarden voldoet voor prestaties en betrouwbaarheid. Wij gebruiken alleen de beste componenten van topfabrikanten en testen elk systeem grondig voordat het naar onze klanten wordt verzonden.</p>

            <p>Wij zijn trots op onze uitstekende klantenservice en ondersteuning. Als u vragen of problemen heeft met uw voorgeassembleerde computer, staat ons team voor u klaar. Wij bieden een uitgebreide garantie- en retourbeleid, zodat u met vertrouwen kunt kopen.</p>

            <p>Bedankt dat u onze voorgeassembleerde PC-winkel in overweging neemt voor uw computingbehoeften. Wij kijken ernaar uit om u van dienst te zijn!</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-bottom:30%;">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/images/blank-profile-picture-973460_640.png" alt="Card image cap" style="height:auto;">
                <div class="card-body">
                    <h5 class="card-title">Jordy De Vriendt</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CEO</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/images/blank-profile-picture-973460_640.png" alt="Card image cap" style="height:auto;">
                <div class="card-body">
                    <h5 class="card-title">Noa Sneiders</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Manager</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/images/blank-profile-picture-973460_640.png" alt="Card image cap" style="height:auto;">
                <div class="card-body">
                    <h5 class="card-title">Fleur Arntzen</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/images/blank-profile-picture-973460_640.png" alt="Card image cap" style="height:auto;">
                <div class="card-body">
                    <h5 class="card-title">Joep Aartsen</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                </div>
            </div>
        </div>
    </div>
</div>
