@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Winkelwagen (aantal artikelen)</h4>
            <div class="row">
                <div class="col-md-2">
                    hier komt foto
                </div>
                <div class="col-md-6">
                    <h6>Pier One</h6>
                    <p>True - black</p>
                    <p>Kleur - black</p>
                    <p>Maat - L</p>
                </div>
                <div class="col-md-2">
                    <p>Hier komt combobox</p>
                    <p>€ Fictieve prijs</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Totaalprijs</h4>
            <div class="row">
                <div class="col-md-6">
                    <h6>subtotaal</h6>
                </div>
                <div class="col-md-6">
                    <h6>fictie prijs</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>Verzending</h6>
                </div>
                <div class="col-md-6">
                    <h6>fictie verzending prijs</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>Totaalprijs (inclusief BTW)</h6>
                </div>
                <div class="col-md-6">
                    <h6>fictie prijs</h6>
                </div>
            </div>
            <a asp-controller="Winkelmand" asp-action="index" class="btn btn-primary">Verder Naar bestellen</a>
        </div>
    </div>
</div>