@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container" style="margin-top:4%;">
    <h1>@ViewData["Title"]</h1>
    <hr style="border-top: 1px solid black;" />
    <p>
        Onze webwinkel voor voorgeassembleerde gaming-pc's respecteert de privacy van al onze klanten en bezoekers van onze website. We verzamelen alleen persoonlijke informatie die nodig is om uw bestelling te verwerken en om u de best mogelijke service te bieden.
    </p>
    <p>
        Wij gebruiken uw persoonlijke informatie ook om u te informeren over nieuwe producten of aanbiedingen die beschikbaar zijn in onze webwinkel. Als u hier niet in geïnteresseerd bent, kunt u zich afmelden voor deze e-mails door de opt-out link te gebruiken die in elke e-mail wordt verstrekt.
    </p>
    <p>
        We beveiligen uw persoonlijke informatie met behulp van beveiligingsmaatregelen om te voorkomen dat onbevoegde personen toegang krijgen tot deze informatie. Als u vragen heeft over ons privacybeleid, neem dan contact met ons op via ons contactformulier.
    </p>
    <p>
        Wij behouden ons het recht voor om dit privacybeleid te wijzigen. Alle wijzigingen zullen op deze pagina worden gepubliceerd, zodat u altijd op de hoogte bent van de informatie die we verzamelen, hoe we deze gebruiken en onder welke omstandigheden we deze eventueel openbaren.
    </p>
    <hr style="border-top: 1px solid black;" />
</div>
